.photo{
    height: 70px;
    width: 200px;
    display: block;
    
    
  }
  .column{
    flex:0 0 auto;
    width: 200px;
    height: calc(100%-10px);
    
  
    
  }
  .column > *{
    background-color: whitesmoke;
    color: black;
    padding: 0 8px;
    margin-left:15px ;
  }
  header{
    padding-left: 15px;
    height: 36px;
    line-height: 36px;
    font-size:16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  footer{
    padding-left: 15px;
    height: 36px;
    line-height: 36px;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    max-height: calc(100%-36px-36px); /*100% cua phan tu cha tuc la chieu cao cua column - chieu cao header- chieu cao footer la ra chieu cao ul*/
    overflow-y: auto;
    
    
    
  }
  li{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    /*box-shadow:  0 1px 1px black; */
  
  }