.photo{
    height: 70px;
    width: 200px;
    display: block;
    
    
  }
  .column{
    flex:0 0 auto;
    width: 200px;
    height: calc(100%-10px);
    
  
    
  }
  .column > *{
    background-color: whitesmoke;
    color: black;
    padding: 0 8px;
    margin-left:15px ;
  }
  header.Head{
    padding-bottom: 10px;
    padding-left: 15px;
    height: 36px;
    line-height: 36px;
    font-size:16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    
    
  }
  

  .title-change{
    
    width: 150px;
    line-height: 30px;
    font-size:16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    background-color: whitesmoke;


  }
 



  footer{
    padding-left: 15px;
    height: 36px;
    line-height: 36px;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -16px;
    position: relative;
    &:hover{
      background-color: white;
      cursor: pointer;
    }
  }
  ul{
    list-style-type: none;
    margin: 0;
    max-height: calc(100%-36px-36px); /*100% cua phan tu cha tuc la chieu cao cua column - chieu cao header- chieu cao footer la ra chieu cao ul*/
    overflow-y: auto;
    
    
    
  }
  .icon{
    margin-right: 10px;
  }
  
  .content-add-card{
    margin-top: -16px;
    position: relative;
  }
  